<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/tablesorter-master/dist/js/jquery.tablesorter.js') }}"></script>

<header>
	<div id="headerText"><h1>3N</h1></div>
	<nav>
		<ul>
			{% if session.get('id') %}
				<li><a href="{{ url_for('students.students') }}">Students</a></li>
				<li><a href="{{ url_for('teachers.teachers') }}">Teachers</a></li>
				<li><a href="{{ url_for('admins.admins') }}">Admins</a></li>
				<li><a href="{{ url_for('classes.classes') }}">Classes</a></li>
			{% endif %}
		</ul>
	</nav>
	<form action="{{ url_for('auth.logout')  }}" method="get">
		<input id="logout" type="submit" value="Log out" name="submit" />
	</form>
</header>
<section>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>
